.body__container {
    container-type: inline-size;
    container-name: body-container;
    padding: 25px;

    .body__wrapper {
       grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: auto 1fr;
            display: grid;
            justify-content: start;
            gap: 20px;
                padding-bottom: 20px;


        .tile__wrapper {
            grid-row: span 2;
                gap: 0px;
                display: grid;
                grid-template-rows: subgrid;
                border: solid grey 1px;
                border-radius: 5px;


            .image__body {
                display: block;
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            .tile__content {
                padding: 15px;
            }

            .tile__link {
                display: block;
                margin-top: 10px;
            }
        }

    }

    @container body-container (width < 700px) {
        .cta__wrapper {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .cta-content__wrapper{
                  align-items:  flex-start;
            }
            .action__wrapper {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }

}